
<!doctype html>
<html>
<head>
  <title>Relationships</title>

  <style type="text/css">
    body {
      font: 10pt sans;
    }
    #mynetwork {
      width: 1200px;
      height: 1200px;
      border: 1px solid lightgray;
    }
  </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/util.js"></script>
    <script type="text/javascript" src="static/js/vendor/vis.js"></script>
    <link href="static/css/vendor/vis.min.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        body {
            font: 10pt sans;
        }

        #mynetwork {
            width: 600px;
            height: 600px;
            border: 1px solid lightgray;
        }
    </style>


  <script type="text/javascript">
    var network = null;
    var allNodes = null;
    var activeHighlight = false;
    var layoutMethod = "directed";

    function destroy() {
      if (network !== null) {
        network.destroy();
        network = null;
      }
    }

    function draw() {
      var org_nodes = {{ nodes | tojson | safe }};
      var org_edges = {{  edges | tojson | safe }};
      draw_graph(org_nodes,org_edges);
    }

    function get_default_options() {
        return {
            nodes: {
                shape: 'dot',
                scaling: {
                    min: 10,
                    max: 30,
                    label: {
                        min: 8,
                        max: 30,
                        drawThreshold: 12,
                        maxVisible: 20
                    }
                },
                font: {
                    size: 11,
                    face: 'Tahoma'
                }
            },
            edges: {
                width: 0.15,
                color: {inherit: 'from'},
                smooth: {
                    type: 'continuous'
                }
            },
            physics: false,
            interaction: {
                tooltipDelay: 200,
                hideEdgesOnDrag: true
            }
        }
    }

    function draw_graph(org_nodes,org_edges) {

        nodes = [];
        edges = [];

        node_map = {}

        var options = get_default_options();

        if (org_nodes.length < 100) {
            options['physics'] = {
                "barnesHut": {
                    "springLength": 150,
                    "avoidOverlap": 1
                },
                "minVelocity": 0.75
            }
       }

        if ( org_nodes.length < 500) { //TODO systemitize
            options = {
            nodes: {
                shape: 'dot',
            },
            layout: {
                hierarchical: {
                    direction: "UD",
                    nodeSpacing:100
                }
            },
            physics: { enabled:false},
            interaction: {dragNodes :true},
            configure: {
              filter: function (option, path) {
                  if (path.indexOf('hierarchical') !== -1) {
                      return true;
                  }
                  return false;
              },
              showButton:false
            }
    };
        }

        console.log(options);

        for (var i = 0; i < org_nodes.length; i++) {
            nodes.push(org_nodes[i]);
            node_map[org_nodes[i]['id']] = org_nodes[i];
        }

        for (var i = 0; i < org_edges.length; i++) {
            var fromId = org_edges[i]['from']['id']
            var toId = org_edges[i]['to']['id']

            if (fromId == toId) {
                node = node_map[fromId];
                label = node['label']
                label += " (" + org_edges[i]['count'] + ")"
                node['label'] = label
            }
            else {
                edges.push({
                    from: fromId,
                    to: toId,
                    arrows: 'middle',
                    label: org_edges[i]['count']
                });
            }
        }

        // create a network
        var container = document.getElementById('mynetwork');
        var data = {
            nodes: nodes,
            edges: edges
        };
        network = new vis.Network(container, data, options);
    }

  </script>
</head>

<body onload="draw();">
<select id="dimensions" name="dimensions" class="dimensions">
    {% for d in dimensions %}
        <option value="{{ d }}">{{ d }}</option>
    {% endfor %}
</select>

<script>
$('.dimensions').on('change', function() {
    var dimensionValue = this.value;
    var url = "/get_dimension";
    $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: JSON.stringify({ data: { 'dimension' : dimensionValue } } ),
            success: function (data) {
                var nodes = data['nodes'];
                var edges = data['edges'];
                draw_graph( nodes, edges);
            },
            dataType: "json"
    });


});
</script>

<div style="width:700px; font-size:14px; text-align: justify;">
</div>


<div id="mynetwork" style="width:1200px; font-size:14px; text-align: justify;"></div>

<p id="selection"></p>
</body>
</html>
