
<!doctype html>
<html>
<head>
  <title>Relationships</title>

  <style type="text/css">
    body {
      font: 10pt sans;
    }
    #mynetwork {
      width: 1200px;
      height: 1200px;
      border: 1px solid lightgray;
    }
  </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/util.js"></script>
    <script type="text/javascript" src="static/js/vendor/vis.js"></script>
    <link href="static/css/vendor/vis.min.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        body {
            font: 10pt sans;
        }

        #mynetwork {
            width: 600px;
            height: 600px;
            border: 1px solid lightgray;
        }
    </style>

    <script>
        $(document).ready(function() {
            var dimensionData = {{ dimension| tojson | safe }};
            currentDimension = dimensionData['data'];
            console.log("setting current dimeion to " + currentDimension);
            $("#dimensions option[value='" + currentDimension + "']").prop('selected', true);
            searchButtonEl = $('#search-button');
            searchButtonEl.click( onSearch )

        });

        function onSearch() {
            var term = document.getElementById('search-text').value;

            // search through the node data set for the dimension
            var hits = nodeDataSet.get({
              filter: function (item) {
                  if (item.label.includes(term)) return true;
                  return false;
              }
            });
            console.log(hits);
            updateArray = colorSearchHits(hits);
            console.log("forcing redraw on network");
            draw_graph(null, null, updateArray);
        }

        function colorSearchHits(nodes) {
            var ids = {};
            var updateArray=[];
            for (var i = 0; i < nodes.length; i++) {
                var node = nodes[i];
                node = nodeDataSet.get(node.id);
                node.color = '#7BE141';
                ids[node.id]=node.id;
                updateArray.push(node);
/*                var connectedNodes = network.getConnectedNodes(node['id']);
                var allConnectedNodes = [];
                if (connectedNodes) {
                    for (var i = 0; i < connectedNodes.length; i++) {
                        var cnodeid = connectedNodes[i];
                        allConnectedNodes = allConnectedNodes.concat(network.getConnectedNodes(cnodeid));
                    }
                }
                if(allConnectedNodes.length > 0){
                    for( var i = 0; i < allConnectedNodes.length; i++ ) {
                        var connectedNode = nodeDataSet.get(allConnectedNodes[i]);
                        if (connectedNode && ids[connectedNode.id] == null ) {
                            connectedNode.color = '#7BE141';
                            ids[connectedNode.id] = connectedNode.id
                            updateArray.push(connectedNode);
                        }
                    }
                }
                */
            }
            return updateArray;

        }

    </script>

  <script type="text/javascript">
    var network = null;
    var currentDimension = null;
    var currentOptions = null;
    var nodeDataSet = null;
    var edgesDataset = null;


    function destroy() {
      if (network !== null) {
        network.destroy();
        network = null;
      }
    }

    function draw() {
      var nodes = {{ nodes | tojson | safe }};
      var edges = {{  edges | tojson | safe }};
      var options = {{  options | tojson | safe }};
      currentOptions = options;
      draw_graph(nodes, edges, null);
    }

    function draw_graph(nodes,edges,updateArray) {

        if ( nodes == null && edges == null && updateArray != null )
        {
            nodeDataSet.update(updateArray);
        }
        else {
            if (nodeDataSet == null) {
                nodeDataSet = new vis.DataSet();
            }

            for (var nodeName in nodes) {
                node = nodes[nodeName];
                if (nodeDataSet.get(node.id) == null) {
                    nodeDataSet.add(node);
                }
            }

            if (edgesDataset == null ) {
                edgesDataset = new vis.DataSet();
            }

            for (var edgeId in edges) {
                var edge = edges[edgeId];
                if (edgesDataset.get(edge.id) == null ) {
                    var fromId = edge['from']['id'];
                    var toId = edge['to']['id'];

                    if (fromId == toId) {
                        node = edge['from'];
                        label = node['label'];
                        label += " (" + edge['count'] + ")";
                        node['label'] = label;
                    }
                    else {
                        edgesDataset.add({
                            from: fromId,
                            to: toId,
                            arrows: 'middle',
                            label: edge['count']
                        });
                    }
                }
            }
        }
        // create a network
        var container = document.getElementById('mynetwork');
        var data = {
            nodes: nodeDataSet,
            edges: edgesDataset,
        };
        network = new vis.Network(container, data, currentOptions);
    }

  </script>
</head>

<body onload="draw();">
<div id="controls">
    <select id="dimensions" name="dimensions" class="dimensions">
        {% for d in dimensions %}
            <option value="{{ d }}">{{ d }}</option>
        {% endfor %}
    </select>
    <input type="search" id="search-text" title="Search" style="width: 250px;border:  1px solid #ccc;font-size: 14px;"
         placeholder="type in here to search">
    <button name="search-button" id="search-button" style="width:30px;height:31px;padding:2px;">Go!</button>
</div>

<script>
$('.dimensions').on('change', function() {
    var dimensionValue = this.value;
    var url = "/get_dimension";
    nodeDataSet = null;
    edgesDataset = null;
    currentOptions = null;

    $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: JSON.stringify({ data: { 'dimension' : dimensionValue } } ),
            success: function (data) {
                var nodes   = data['nodes'];
                var edges   = data['edges'];
                var options = data['options'];
                currentOptions = options;
                draw_graph(nodes,edges,null);
            },
            dataType: "json"
    });


});
</script>

<div style="width:700px; font-size:14px; text-align: justify;">
</div>


<div id="mynetwork" style="width:1200px; font-size:14px; text-align: justify;"></div>

<p id="selection"></p>
</body>
</html>
