
<!doctype html>
<html>
<head>
  <title>Relationships</title>

  <style type="text/css">
    body {
      font: 10pt sans;
    }
    #mynetwork {
      width: 1200px;
      height: 1200px;
      border: 1px solid lightgray;
    }
  </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/util.js"></script>
    <script type="text/javascript" src="static/js/vendor/vis.js"></script>
    <link href="static/css/vendor/vis.min.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        body {
            font: 10pt sans;
        }

        #mynetwork {
            width: 600px;
            height: 600px;
            border: 1px solid lightgray;
        }
    </style>

    <script>
        $(document).ready(function() {
            var dimensionData = {{ dimension| tojson | safe }};
            currentDimension = dimensionData['data'];
            console.log("setting current dimeion to " + currentDimension);
            $("#dimensions option[value='" + currentDimension + "']").prop('selected', true);
        });
    </script>

  <script type="text/javascript">
    var network = null;
    var currentDimension = null;
    var currentNodes = null;
    var currentEdges = null;


    function destroy() {
      if (network !== null) {
        network.destroy();
        network = null;
      }
    }

    function draw() {
      currentNodes = {{ nodes | tojson | safe }};
      currentEdges = {{  edges | tojson | safe }};
      draw_graph(currentNodes,currentEdges);
    }

    function get_default_options() {
        return {
            nodes: {
                shape: 'dot',
                scaling: {
                    min: 10,
                    max: 30,
                    label: {
                        min: 8,
                        max: 30,
                        drawThreshold: 12,
                        maxVisible: 20
                    }
                },
                font: {
                    size: 16,
                    face: 'Tahoma'
                }
            },
            edges: {
                width: 0.15,
                color: {inherit: 'from'},
                smooth: {
                    type: 'continuous'
                }
            },
            physics: false,
            interaction: {
                tooltipDelay: 200,
                hideEdgesOnDrag: true
            }
        }
    }

    function draw_graph() {

        nodes = [];
        edges = [];

        var options = get_default_options();

        if (currentNodes.length < 50) {
            options['physics'] = {
                "barnesHut": {
                    "springLength": 150,
                    "avoidOverlap": 1
                },
                "minVelocity": 0.75
            }
       }

        console.log(options);

        for (var i = 0; i < currentNodes.length; i++) {
            nodes.push(currentNodes[i]);
        }

        for (var i = 0; i < currentEdges.length; i++) {
            var fromId = currentEdges[i]['from']['id']
            var toId = currentEdges[i]['to']['id']

            if (fromId == toId) {
                node = currentEdges[i]['from']
                label = node['label']
                label += " (" + currentEdges[i]['count'] + ")"
                node['label'] = label
            }
            else {
                edges.push({
                    from: fromId,
                    to: toId,
                    arrows: 'middle',
                    label: currentEdges[i]['count']
                });
            }
        }

        // create a network
        var container = document.getElementById('mynetwork');
        var data = {
            nodes: nodes,
            edges: edges
        };
        network = new vis.Network(container, data, options);
    }

  </script>
</head>

<body onload="draw();">
<select id="dimensions" name="dimensions" class="dimensions">
    {% for d in dimensions %}
        <option value="{{ d }}">{{ d }}</option>
    {% endfor %}
</select>

<script>
$('.dimensions').on('change', function() {
    var dimensionValue = this.value;
    var url = "/get_dimension";
    $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: JSON.stringify({ data: { 'dimension' : dimensionValue } } ),
            success: function (data) {
                currentNodes = data['nodes'];
                currentEdges = data['edges'];
                draw_graph();
            },
            dataType: "json"
    });


});
</script>

<div style="width:700px; font-size:14px; text-align: justify;">
</div>


<div id="mynetwork" style="width:1200px; font-size:14px; text-align: justify;"></div>

<p id="selection"></p>
</body>
</html>
